* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

.container {
    text-align: center;
}

.header {
    background-color: rgba(32, 114, 172, 1);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 40vh;
    padding-top: 30px;
}

h1 {
    font-size: 3rem;
    padding-bottom: 20px;
    padding-top: 10px;
}

#search-input {
    width: 50%;
    height: 7vh;
    border-radius: 29px;
    padding: 10px;
    border: none;
    font-size: 1rem;
    position: relative;
}

#search-btn {
    width: 6%;
    cursor: pointer;
    position: absolute;
    right: 20%;
    top: -30%;
}



.hamburger {
    position: fixed;
    top: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 1000;
}

.hamburger span {
    display: block;
    width: 30px;
    height: 3px;
    margin: 5px 0;
    border-radius: 2px;
    background-color: #333;
    transition: all 0.3s ease;
}

.hamburger.active span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.dropdown {
    display: none;
    position: fixed;
    top: 30%;
    right: 0;
    left: 0;
}

.select-breed {
    background-color: #ccc;
    font-size: 1.2rem;
    padding: 10px;
    width: 40%;
}

.main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 1%;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
    margin-inline: 5%;
}

p {
    font-size: 1.8rem;
    background: linear-gradient(to right, #33ffc5, #33a1ff);
    text-transform: capitalize;
    padding: 20px;
    cursor: pointer;
}



@media screen and (min-width: 1280px) {
    #search-input {
        width: 60%;
        height: 9vh;
        font-size: 1.3rem;
    }
    
    #search-btn {
        width: 2.3%;
        top: 55%;
        right: 22%;
    }

    .dropdown {
        display: none;
        position: fixed;
        top: 30%;
        right: 0;
        left: 0;
    }
}

@media screen and (max-width: 1114px) {
    #search-input {
        width: 60%;
        height: 10vh;
        font-size: 1.3rem;
    }

    #search-btn {
        width: 2.6%;
        top: 65%;
        right: 22%;
    }
}

@media screen and (max-width: 890px) {
    .header {
        height: 30vh;
    }

    #search-input {
        width: 66%;
        height: 7vh;
        font-size: 1.2rem;
        padding-top: 20px;
        border-radius: 34px;
    }
    
    #search-btn {
        width: 3%;
        top: 45%;
        right: 20%;
    }

    .dropdown {
        top: 21%;
    }

    .main {
        margin-top: 40%;
    }
    
}

@media screen and (max-width: 840px) {
    .header {
        height: 25vh;
    }

    #search-input {
        width: 80%;
        font-size: 1.4rem;
        border-radius: 40px;
    }
    
    #search-btn {
        width: 4.5%;
        top: 47%;
        right: 13%;
    }

    .main {
        margin-top: 45%;
    }
    
}

@media screen and (max-width: 780px){
    .header {
        height: 28vh;
    }

    #search-input {
        width: 80%;
        height: 7vh;
        font-size: 1.3rem;
    }

    #search-btn {
        width: 4%;
        top: 50%;
        right: 15%;
    }

    .main {
        margin-top: 40%;
    }
     
}

@media screen and (max-width: 680px) {
    #search-btn {
        width: 4.6%;
        top: 49%;
        right: 18%;
    }
}

@media screen and (max-width: 480px) {
    .header {
        height: 32vh;
    }

    #search-btn {
        width: 4.6%;
        top: 55%;
        right: 15%;
    }

    .dropdown {
        top: 24%;
    }

    .main {
        margin-top: 60%;
    }
}

@media screen and (max-width: 390px) {
    .header {
        height: 37vh;
    }

    #search-btn {
        width: 4.6%;
        top: 55%;
        right: 15%;
    }

    .dropdown {
        top: 27%;
    }

    .main {
        margin-top: 68%;
    }
}

@media screen and (max-width: 360px) {
    #search-btn {
        width: 4.6%;
        top: 50%;
        right: 15%;
    }

    .main {
        margin-top: 75%;
    }
}

@media screen and (max-width: 320px) {
    .header {
        height: 50vh;
    }

    #search-input {
        height: 9vh;
    }    

    #search-btn {
        top: 56%;
    }

    .dropdown {
        top: 35%;
    }
}