* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    text-align: center;
}

.header {
    background-color: green;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 30vh;
    padding-top: 30px;
}

h1 {
    font-size: 3rem;
    padding-bottom: 20px;
}

#search-input {
    width: 50%;
    height: 7vh;
    border-radius: 29px;
    padding: 10px;
    border: none;
    font-size: 1rem;
    position: relative;
}

#search-btn {
    width: 6%;
    cursor: pointer;
    position: absolute;
    right: 20%;
    top: 65%;
}

.main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 1%;
    margin-top: 18%;
    margin-inline: 30px;
    justify-content: center;
    align-items: center;
}

p {
    font-size: 1.8rem;
    background-color: gray;
    text-transform: capitalize;
    padding: 20px;
    cursor: pointer;
}



@media screen and (min-width: 1280px) {
    #search-input {
        width: 60%;
        height: 9vh;
        font-size: 1.3rem;
    }
    
    #search-btn {
        width: 2.3%;
        top: 65%;
        right: 22%;
    }
}

@media screen and (max-width: 1114px) {
    #search-input {
        width: 60%;
        height: 10vh;
        font-size: 1.3rem;
    }

    #search-btn {
        width: 2.6%;
        top: 65%;
        right: 22%;
    }
}

@media screen and (max-width: 890px) {
    .header {
        height: 20vh;
    }

    #search-input {
        width: 66%;
        height: 7vh;
        font-size: 1.2rem;
        border-radius: 30px;
    }
    
    #search-btn {
        width: 3%;
        top: 63%;
        right: 20%;
    }
    
}

@media screen and (max-width: 840px) {

    #search-input {
        width: 80%;
        font-size: 1.4rem;
        border-radius: 40px;
    }
    
    #search-btn {
        width: 4.5%;
        top: 56%;
        right: 13%;
    }
    
}

@media screen and (max-width: 780px){
    .header {
        height: 25vh;
    }

    #search-input {
        width: 80%;
        height: 7vh;
        font-size: 1.3rem;
    }

    #search-btn {
        width: 4%;
        top: 53%;
        right: 15%;
    }

    .main {
        margin-top: 60%;
    }
     
}

@media screen and (max-width: 680px) {
    #search-btn {
        width: 4.6%;
        top: 49%;
        right: 18%;
    }
}

@media screen and (max-width: 480px) {
    #search-btn {
        width: 4.6%;
        top: 65%;
        right: 15%;
    }
}

@media screen and (max-width: 390px) {
    #search-btn {
        width: 4.6%;
        top: 72%;
        right: 15%;
    }
}

@media screen and (max-width: 360px) {
    #search-btn {
        width: 4.6%;
        top: 68%;
        right: 15%;
    }
}

@media screen and (max-width: 320px) {
    .header {
        height: 35vh;
    }

    #search-input {
        height: 9vh;
    }    

    #search-btn {
        top: 73%;
    }
}